In [6]:
import os
import pandas as pd

In [7]:
data_path = os.path.join("./dataset", "dataset.csv")

In [8]:
with open(data_path, "r") as f:
    dataset = pd.read_csv(f)

In [9]:
# prompt_keyword = input("search keyword: ")
search_list = []

In [10]:
dataset

                image_id                                      impression_en
0      15708024981269913  A young beautiful girl from the East. The natu...
1      15708029957387770  A young man in a hood on Red Square, around 30...
2      15708030330303880  In the photo, there is a young beautiful girl....
3      15708034407840953  In the photo, there is a cute girl with brown ...
4      15708036846011465  A young man, no more than thirty years old, of...
...                  ...                                                ...
19995  15816590060957992  A young man around twenty years old. Most like...
19996  15816603996734290  A young, short girl. She looks like she's twen...
19997  15816686112077749  A young girl of non-Slavic appearance. Dark, s...
19998  15816736174410722  The guy is 18 years old. Slavic appearance, sl...
19999  15816742372258432  The photo shows a girl, around 13 years old, w...

[20000 rows x 2 columns]